<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>23,asldk</string>
	<string>22,sk</string>
	<string>3,al</string>
	<string>35,tiger</string>
	<string>3,as</string>
	<string>539,ak</string>
	<string>43,df</string>
	<string>204,0</string>
	<string>42,als</string>
	<string>432,fe2</string>
	<string>1,aa</string>
	<string>0,30a</string>
</array>
</plist>
